.customerContainer {
    width: calc(100vw - 255px);
    height: calc(100vh - 100px);
    min-height: 500px;
    box-sizing: border-box;

    .pageTitle {
        font-weight: 600;
        color: #e72b37;
    }

    @media screen and (max-width: 383px) {

        .searchBar {
            margin-bottom: 12px;
        }

        .pageTitle {
            margin: 6px;
        }
    }

    @media screen and (max-width: 450px) {
        width: 100vw;
        height: calc(100vh - 75px);
        padding: 0;
        overflow: initial;
        padding-top: 75px;

        .searchBar {
            margin-bottom: 12px;
            padding: 2px 10px;
        }

        .pageTitle {
            margin: 6px;
            padding-right: 75px;
        }

        .customTable {
            :global {
                tbody {
                    tr {
                        font-size: 13px;
                    }
                }
            }
        }
    }

    @media screen and (min-width: 450px) and (max-width: 635px) {
        .searchBar {
            margin-bottom: 12px;
        }

        .pageTitle {
            margin: 6px;
            padding-right: 75px;
        }
    }

    .content {
        padding: 20px 20px;
        background-color: #fff;
        border-radius: 15px;
        box-sizing: border-box;
        box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.0392156863);

        @media (max-width: 450px) {
            border-radius: 0;
            padding: 15px;
            padding-bottom: calc(10vh + 5px);
        }

        .searchBar {

            // margin-bottom: 12px;
            input {
                padding-left: 10px;

                &::placeholder {
                    opacity: 0.9;
                    font-weight: 500;
                    font-size: 12px;
                }
            }

            .searchIcon {
                color: #a9a9a9;
            }

        }

        .pageTitle {
            color: #e72b37;
        }

        .customTable {
            :global {
                thead {
                    tr {
                        .ant-table-cell {
                            border-top: 1px solid #f0f0f0;

                            &:first-child {
                                border-left: 1px solid #f0f0f0;
                            }

                            &:last-child {
                                border-right: 1px solid #f0f0f0;
                            }
                        }
                    }
                }

                tbody {
                    tr {
                        cursor: pointer;
                        font-size: 15px;
                        font-weight: 500;

                        .ant-table-cell {
                            font-size: 12px;
                            font-weight: 400;

                            &:first-child {
                                border-left: 1px solid #f0f0f0;
                            }

                            &:last-child {
                                border-right: 1px solid #f0f0f0;
                            }
                        }
                    }
                }

                @media screen and (max-width: 450px) {
                    .ant-pagination {
                        justify-content: center;
                        flex-wrap: nowrap;
                    }
                }
            }
        }
    }


    .contentWrapper {
        background-color: #fff;
        border-radius: 15px;
        box-sizing: border-box;
        box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.0392156863);
        height: 100%;
        padding-right: 3px;
        padding-block: 20px;

        .content {
            padding: 0px 17px 0px 20px;
            overflow: auto;
            height: 100%;

            &::-webkit-scrollbar {
                width: 5px;
            }

            &::-webkit-scrollbar-track {
                background: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background: #888888b9;
                border-radius: 3px;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #555555b2;
            }
        }
    }
}