.invoicesContainer {
    width: calc(100vw - 255px);
    height: calc(100vh - 100px);
    min-height: 500px;
    box-sizing: border-box;

    .pageTitle {
        font-weight: 600;
        color: #e72b37;
    }


    .contentWrapper {
        background-color: #fff;
        border-radius: 15px;
        box-sizing: border-box;
        box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.0392156863);
        height: 100%;
        padding-right: 3px;
        padding-block: 20px;

        .content {
            padding: 0px 17px 0px 20px;
            overflow: auto;
            height: 100%;

            &::-webkit-scrollbar {
                width: 5px;
            }

            &::-webkit-scrollbar-track {
                background: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background: #888888b9;
                border-radius: 3px;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #555555b2;
            }
        }
    }
}