.headerContainer {
    height: 70px;
    padding: 10px 15px 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -18px 18px 20px rgba(0, 0, 0, 0.1607843137);
    background-color: white;
    overflow: visible;
    z-index: 1;

    .logo {
        display: flex;
        align-items: center;

        img {
            width: 80px;
        }
    }

    .navigation {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .cartIcon {
            cursor: pointer;
            font-size: 25px;
            color: #E72B37;
            margin-top: 2px;

            sup {
                font-size: 11px;
            }
        }

        .profileMenu {
            height: auto;
            border: none;
            justify-content: end;

            li {
                &::after {
                    content: "";
                    display: none;
                }
            }

            .profileInfo {
                display: flex;
                gap: 5px;
                align-items: center;
                max-width: 190px;

                span {
                    color: #7D8398;
                }
            }
        }

    }
}