.headerContainer {
    height: 70px;
    padding: 10px 15px 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -18px 18px 20px rgba(0, 0, 0, 0.1607843137);
    background-color: white;
    overflow: visible;
    z-index: 1;

    .logo {
        display: flex;
        align-items: center;

        img {
            width: 80px;
        }
    }

    .navigation {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .cartIcon {
            cursor: pointer;
            font-size: 22px;
            margin-top: 2px;
            color: #7D8398;


            sup {
                font-size: 11px;
            }

            &.active {
                background-color: #fef0ef;
                padding: 5px;
                border-radius: 8px;
                font-size: 22px;
                color: #E72B37;
            }
        }

        .profileMenu {
            height: auto;
            border: none;
            justify-content: end;

            li {
                &::after {
                    content: "";
                    display: none;
                }
            }

            .profileInfo {
                display: flex;
                gap: 10px;
                align-items: center;
                max-width: 200px;
                max-height: 75px;

                .profileInfoData {
                    display: flex;
                    align-items: end;
                    justify-content: center;
                    flex-direction: column;
                    line-height: 25px;
                    font-size: 13px;

                    .userName {
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        max-height: 20px;
                        color: #E72B37;
                    }

                    .userEmail {
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        max-height: 20px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        color: rgba(0, 0, 0, 0.65);
                    }
                }

                .profileInfoIcon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #FFF1f0;
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;

                }
            }
        }
    }
}

:global {
    .ant-menu.ant-menu-root.ant-menu-horizontal {
        display: flex;
        align-items: center;
    }
}