.eanMatchContainer {
    width: calc(100vw - 255px);
    height: calc(100vh - 100px);
    min-height: 500px;
    box-sizing: border-box;

    .pageTitle {
        font-weight: 600;
        color: #e72b37;
    }


    .contentWrapper {
        background-color: #fff;
        border-radius: 15px;
        box-sizing: border-box;
        box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.0392156863);
        height: 100%;
        padding-right: 3px;
        padding-block: 20px;

        .content {
            padding: 0px 17px 0px 20px;
            overflow: auto;
            height: 100%;

            &::-webkit-scrollbar {
                width: 5px;
                height: 5px;
            }

            &::-webkit-scrollbar-track {
                background: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background: #888888b9;
                border-radius: 3px;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #555555b2;
            }

            .inputContainer {
                display: flex;
                align-items: center;

                .uploader,
                .textArea {
                    width: 100%;
                }

                .textArea {
                    align-self: stretch;

                    textarea {
                        height: 100%;
                        padding: 8px 15px;
                    }
                }

                .uploader {
                    align-self: stretch;
                    height: max-content;
                }

                .middleZone {
                    min-width: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    span {
                        font-weight: 500;
                    }
                }
            }

            .fileContainer {
                margin-block: 5px;
                max-width: 300px;

                .file {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    &:hover {
                        color: #e72b37;
                    }

                    button {
                        border: none;
                        padding: 0;
                        background-color: transparent;

                        &:hover {
                            transform: scale(1.1);
                        }

                        svg {
                            color: #e72b37;
                        }
                    }
                }
            }

            .controls {
                margin-top: 20px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                button {
                    padding-inline: 35px;
                }

            }

            .resultContainer {
                margin-top: 50px;

                .resultHeader {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;
                    
                    h3 {
                        margin: 0px;
                    }

                    .cartControls {
                        display: flex;
                        flex-direction: row;
                        gap: 10px;
                    }
                }


                .customTable {
                    :global {
                        .ant-table-thead {
                            .ant-table-cell {
                                font-weight: 500;
                            }
                        }

                        .ant-table-tbody {
                            .ant-table-cell {
                                .ant-skeleton-title {
                                    margin-block: 0px;
                                }
                            }
                        }
                    }
                }
            }

        }
    }


}